flask==3.0.3
gunicorn==23.0.0
flask-sqlalchemy==3.1.1
flask-wtf==1.2.1
flask-mail==0.10.0
flask-bcrypt==1.0.1
flask-login==0.6.3
SQLAlchemy==2.0.32
email-validator==2.2.0
itsdangerous==2.2.0
jinja2==3.1.4
wtforms==3.1.2
werkzeug==3.0.3
cryptography==42.0.5
bcrypt==4.2.0
PyJWT==2.8.0
Pillow
requests==2.32.0